<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysheng.office.mapper.CarGoodsMapper">
    <select id="queryCarGoodsByUser" resultType="com.mysheng.office.model.CarGoodsModel">
        SELECT * FROM goods_shopcar where user_id=#{userId} AND shop_id=#{shopId}
    </select>
    <select id="queryCarGoodsByGoodsIdAndType" resultType="com.mysheng.office.model.CarGoodsModel">
        SELECT * FROM goods_shopcar WHERE user_id=#{userId} AND goods_id=#{goodsId} AND goods_type=#{goodsType}
    </select>
    <select id="getShopId"    resultType="java.lang.String">
        SELECT shop_id FROM goods_shopcar WHERE  user_id=#{userId}  GROUP BY shop_id
    </select>
    <insert id="insertCarGoodsModel"  parameterType="com.mysheng.office.model.CarGoodsModel">
        INSERT INTO goods_shopcar (id,user_id,shop_id,goods_id,goods_name,unit_price,norms,goods_num,selected,status,create_date,comments) VALUES
        (#{id},#{userId},#{shopId},#{goodsId},#{goodsName},#{unitPrice},#{norms},#{goodsNum},#{selected},#{status},#{createDate},#{comments})
    </insert>
    <update id="updateCarGoodsModel" parameterType="com.mysheng.office.model.CarGoodsModel">
        UPDATE goods_shopcar
        <set>
            <if test="goodsNum!=null">goods_num=#{goodsNum},</if>
            <if test="unitPrice!=null">unit_price=#{unitPrice},</if>
            <if test="norms!=null">norms=#{norms},</if>
            <if test="selected!=null">selected=#{selected},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="comments!=null">comments=#{comments},</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteCarGoodsModel" >
        DELETE FROM goods_shopcar WHERE id=#{id}
    </delete>

</mapper>