<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysheng.office.mapper.MessageMapper">
    <select id="queryChatModel" resultType="com.mysheng.office.model.ChatModel">
        SELECT * FROM chat
    </select>
    <select id="queryChatModelById" resultType="com.mysheng.office.model.ChatModel">
        SELECT * FROM chat WHERE mesId=#{chatId}
    </select>

    <insert id="insertMessage" useGeneratedKeys="true" keyProperty="mesId" keyColumn="mesId" parameterType="com.mysheng.office.model.ChatModel">
        INSERT INTO chat(mes_id,mes_type,mes_time,Icon_path,content,content_path,send_user,receive_user,mes_status) VALUES
        (#{mesId},#{mesType},#{mesTime},#{IconPath},#{content},#{contentPath},#{sendUser},#{receiveUser},#{mesStatus})
    </insert>


</mapper>